<form>
    <br>
    <div class="row col-md-12">
            <h2>Empresas</h2>
    </div>

    <div>Tipo</div>
    <div class="form-row">
        <div class="form-group btn-group btn-group-toggle col-md-2" data-toggle="buttons">
            <label class="btn btn-outline-warning active">
                <input type="radio" name="options" id="option1" checked> Matriz
            </label>
            <label class="btn btn-outline-warning">
                <input type="radio" name="options" id="option2"> Filial
            </label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-row col-md-9">
            <div class="form-group col-md-9">
                <label>Nome*</label>
                <input class="form-control" type="text" placeholder="Razão social">
            </div>
            <div class="form-group col-md-9">
                <label>Nome Fantasia*</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-row mb-3" style="max-width: 18rem;">
                <div class="card">
                    <img src="../../../assets/imeges/logomarca.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-outline-warning btn-sm">Enviar</a>
                        &nbsp;
                        <a href="#" class="btn btn-outline-warning btn-sm">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
   </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Inscrição Federal*</label>
            <input class="form-control" type="text" placeholder="CNPJ">
        </div>
        <div class="form-group col-md-4">
            <label>Inscrição Estadual</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>Inscrição Municipal</label>
            <input class="form-control" type="text">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Sigla</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label for="tipoContribuinte">Tipo de Contribuição*</label>
            <select class="form-control" id="tipoContribuinte">
                <option>Contribuinte</option>
                <option>Contribuinte Isento</option>
                <option>Não Contribuinte</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>CNAE</label>
            <input class="form-control" type="text" placeholder="CNAE principal">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Telefone</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>Telefone Celular</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>WhatsApp</label>
            <input class="form-control" type="text">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="nome@gmail.com">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="observacao">Observação</label>
            <textarea class="form-control" id="observacao" rows="3"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>CEP*</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>Número*</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>Complemento</label>
            <input class="form-control" type="text">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Logradouro*</label>
            <input class="form-control" type="text">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Bairro*</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>Município</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-md-4">
            <label>UF</label>
            <input class="form-control" type="text">
        </div>
    </div>

</form>
